.eslintrc.js

docs
node_modules

src/App.test.js
src/serviceWorker.js
src/setupTests.js

src/index.js
src/App.js
src/components/Highlight.js
// src/components/RichTextEditor.js

// src/components/TeX/modifiers/removeTeXBlock.js
// src/components/TeX/modifiers/insertTeXBlock.js

src/components/TeX/TeXBlock.js

src/components/Table/modifiers/editTable.js