.App {
  margin: 50px;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 35px 0;
}

.double-column {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.Menu {
  display: flex;
  position: relative;
}

.math {
  right: 100px;
}

.display {
  right: 0;
}

#tex {
  width: 47%;
  background-color: #6c757d;
  flex-grow: 1;
}

.compiled {
  color: #999;
  background-color: #5a6268;
  padding: 16px;
  margin: 0;
}