.App {
  margin: 50px;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 35px 5px;
}

.two {
  display: flex;
}

.Menu {
  display: flex;
  position: relative;
}

.math {
  right: 100px;
}

.display {
  right: 0;
}

#tex {
  width: 48%;
  height: 520px;
  background-color: black;
  margin-left: 4%;
}